<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Express + Socket.io</title>
</head>
<body>
    <h1>Executed!</h1>
    <p id="status"></p>
    <button id="broadcast">
        Broadcast event to server
    </button>
    <h3>Connected clients</h3>
    <ul id="items">
    </ul>

    <button id="last">
        Say hello to the last
    </button>



    <div id="circle">

    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>